.jumbotron{
  padding-top: 5rem;
  background-color: #ebc973;
  color: white;
}

a {
				color: black;
}

a:link{
  text-decoration: none!important;
}

#about p {
				text-align: justify;
				margin: 10px;
}

#gallery {
  background-color: #ebc973;
}

#gallery h2 {
  color: white;
}
