.jumbotron{
  padding-top: 5rem;
  background-color: #ebc973;
  color: white;
}

#about p {
				text-align: justify;
				margin: 20px;
}

#gallery {
  background-color: #ebc973;
}

#gallery h2 {
  color: white;
}
